@accent: #ff5555;
@text: #ffffff;
@layer0: #171d23;
@layer1: rgb(29, 37, 44);
@layer2: rgb(calc(29 + 6), calc(37 + 6), calc(44 + 6));
@layer3: rgb(calc(29 + 12), calc(37 + 12), calc(44 + 12));
@layer4: rgb(calc(29 + 18), calc(37 + 18), calc(44 + 18));
@layer5: rgb(calc(29 + 24), calc(37 + 24), calc(44 + 24));
@layer6: rgb(calc(29 + 30), calc(37 + 30), calc(44 + 30));
@layer7: rgb(calc(29 + 36), calc(37 + 36), calc(44 + 36));
@layer8: rgb(calc(29 + 42), calc(37 + 42), calc(44 + 42));
@layer9: rgb(calc(29 + 48), calc(37 + 24), calc(44 + 24));
@layer10: rgb(calc(29 + 54), calc(37 + 54), calc(44 + 54));
@layer11: rgb(calc(29 + 60), calc(37 + 60), calc(44 + 60));
@layer12: rgb(calc(29 + 66), calc(37 + 66), calc(44 + 66));
@layer13: rgb(calc(29 + 72), calc(37 + 72), calc(44 + 72));